@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
:root {
	--black: #000;
	--offblack: hsl(0, 0%, 10%);
	--white: #fff;
	--offwhite: hsl(0, 0%, 90%);
	--pink: #ff0055;
	--background: linear-gradient(145deg, var(--white) 0%, var(--offwhite) 100%);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Limkin", sans-serif;
	background: var(--background);
	background-size: 100vw 100dvh;
	background-attachment: fixed;
	color: var(--offblack);
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	text-wrap: pretty;
	font-size: 18px;
	line-height: 1.4em;
}

/* Homepage */
.home-container {
	min-height: 100dvh;
}

/* Home header */
.home-header {
	position: sticky;
	top: 0;
	background-color: var(--pink);
	color: var(--white);
	z-index: 1;
	padding: 15px 20px calc(15px - .2em) 20px;
	min-height: 60px;
	display: flex;
	align-items: center;
	text-wrap: balance;
}
.home-header-title {
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	font-size: 24px;
	line-height: 1em;
}
.home-header-title a {
	color: var(--white);
	text-decoration: none;
	transition: letter-spacing .5s;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
}
.home-header-title a:hover {
	letter-spacing: .15em;
}
.home-header-title a:active {
	letter-spacing: 0em;
}

/* Home index */
.home-index {
	padding-bottom: 60px;
	width: 100%;
	overflow: hidden;
}
.home-index-link {
	display: flex;
	padding: 20px 40px 20px 65px;
	gap: 40px;
	align-items: center;
	text-decoration: none;
	color: var(--offblack);
	position: relative;
	transition: background-color .2s;
	overflow: hidden;
	animation: home-index-link .5s forwards;
	transform: translateY(100%);
	opacity: 0;
}
@keyframes home-index-link {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
.home-index-link:hover {
	background-color: var(--pink);
}
.home-index-link:active {
	background-color: var(--offblack);
}
.home-index-link-date {
	font-size: 10px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	/* letter-spacing: .1em; */
	/* line-height: 1em; */
	position: absolute;
	left: 5px;
	top: 5px;
	writing-mode: vertical-lr;
	color: var(--offblack);
	bottom: 5px;
	white-space: nowrap;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-right: .2em;
	padding-top: .1em;
	transform: rotate(180deg);
	transition: width .2s, color .2s;
}
.home-index-link:hover .home-index-link-date {
	width: 40px;
	color: var(--white);
}
.home-index-link-thumbnail {
	width: 100px;
	display: block;
	border: .5px solid #eee;
	border-radius: 2px;
	flex-shrink: 0;
	transition: transform .3s;
}
.home-index-link:hover .home-index-link-thumbnail {
	transform: translateX(20px);
}
.home-index-link-lines {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	gap: 8px;
	flex-shrink: 0;
	transition: transform .4s;
}
.home-index-link:hover .home-index-link-lines {
	transform: translateX(30px);
}
.home-index-link-lines-number {
	flex-shrink: 0;
	font-size: 18px;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	line-height: 1em;
	padding-top: .2em;
	text-align: center;
	background-color: var(--offblack);
	color: var(--white);
	border-radius: 2px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	transition: background-color .2s, color .2s;
}
.home-index-link:hover .home-index-link-lines-number {
	background-color: var(--white);
	color: var(--pink);
}
.home-index-link:active .home-index-link-lines-number {
	color: var(--offblack);
}
.home-index-link-lines-text {
	padding-top: .2em;
	display: flex;
	flex-direction: column;
	font-size: 10px;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 1em;
	white-space: nowrap;
	transition: color .2s;
}
.home-index-link:hover .home-index-link-lines-text {
	color: var(--white);
}
.home-index-link-title {
	font-size: 24px;
	padding-top: .2em;
	line-height: 1em;
	transition: transform .5s, color .2s;
}
.home-index-link-title::after {
	content: "↗";
	padding-left: .3em;
	color: var(--pink);
	transition: color .2s;
}
.home-index-link:hover .home-index-link-title {
	transform: translateX(40px);
	color: var(--white);
}
.home-index-link:hover .home-index-link-title::after {
	color: var(--white);
}

/* Home filters */
.home-filter {
	background-color: var(--white);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	align-items: center;
	border-top: 1px solid #eee;
	padding: 10px 20px;
	display: grid;
	grid-template-columns: 45px 1fr 45px;
	gap: 20px;
}
.home-filter-title {
	flex-shrink: 0;
	padding-top: .2em;
	display: flex;
	font-size: 18px;
	line-height: 1.4em;
	align-items: center;
}
.home-filter-value {
	font-size: 18px;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	line-height: 1em;
	padding-top: .2em;
	text-align: center;
	background: var(--offblack);
	color: var(--white);
	border-radius: 2px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
}
#home-filter-min-value, #home-filter-max-value {
	/* font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700; */
}
.home-filter-slider-container {
	flex-grow: 1;
	position: relative;
	width: 100%;
	height: 30px;
	border-radius: 2px;
	overflow: hidden;
}
.home-filter-slider-container input[type="range"] {
	position: absolute;
	width: 100%;
	pointer-events: none;
	-webkit-appearance: none;
	background: none;
}
.home-filter-slider-container input[type="range"]::-webkit-slider-thumb {
	pointer-events: all;
	-webkit-appearance: none;
	appearance: none;
	background: var(--offblack);
	border: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: relative;
	border-radius: 2px;
}
#home-filter-min-range::-webkit-slider-thumb {
	/* border-radius: 50%; */
}
#home-filter-max-range::-webkit-slider-thumb {
	/* border-radius: 50%; */
}
.home-filter-slider-container input[type="range"]::-webkit-slider-thumb:hover {
	background: #333;
	z-index: 1;
}
.home-filter-slider-container input[type="range"]::-webkit-slider-thumb:active {
	background: #333;
	z-index: 1;
}
.home-filter-slider-track {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 30px;
	width: 100%;
	border-radius: 0px;
	background: linear-gradient(to right, #eee 0%, #eee 100%);
	z-index: -1;
}

/* Home mobile styles */
@media only screen and (max-width: 600px) {
	.home-header {
		padding: 15px 20px calc(15px - .2em) 20px;
	}
	.home-index a {
		padding: 15px 20px calc(15px - .2em) 20px;
	}
}
@media only screen and (max-width: 500px) {
	.home-header {
		grid-template-columns: 120px 1fr;
		gap: 20px;
	}
	.home-header-title {
		display: flex;
		flex-direction: column;
		gap: 0;
	}
	.home-index a {
		grid-template-columns: 120px 1fr;
		gap: 0 20px;
		grid-template-rows: 1.4em 1fr;
	}
	.home-index a p {
		grid-column: 1;
	}
	.home-index a h2 {
		grid-column: 2;
		grid-row: 1 / span 2;
	}
}
@media only screen and (max-width: 400px) {
	.home-header {
		display: flex;
		flex-direction: column;
		gap: 0;
	}
	.home-index a {
		grid-template-columns: 1fr;
	}
	.home-index a p {
		grid-column: unset;
	}
	.home-index a h2 {
		grid-column: unset;
		grid-row: unset;
	}
}